* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.controlls {
  display: flex;
  gap: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.controlls button {
  background-color: transparent;
  color: #4b4b4b;
  outline: none;
  border: none;
  font-size: 2rem;
  line-height: 0;
  margin-top: -4px;
  margin-left: auto;
  cursor: pointer;
  transition: 0.2s;
}

.controlls button:hover {
  transform: scale(1.2);
}

.controlls button:active {
  transform: scale(0.9);
}

canvas {
  border: 3px solid #eecaaf;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
